*
!config
!config/**
!defaultconfig/
!kubejs
!kubejs/**
!/mods
!mods/*.toml
!patchouli_books
!index.toml
!pack.toml
!LICENSE
!resourcepacks**/*
!shaderpacks/
!shaderpacks/**
!server-icon.png
**/.DS_Store

resourcepacks/*.zip
config/paxi/datapacks/*.zip
shaderpacks/*.zip
config/chunky/tasks/
config/fabric
config/sound_physics_remastered/
config/spark/activity.json
config/spark/tmp/
config/better_log4j_config.xml
config/carpet
config/citresewn-defaults.json
config/data_attributes.json5
config/data_attributes/
config/heracles
config/indium-renderer.properties
config/inventoryprofilesnext/**/*
config/iris.properties
config/jei/
config/konkrete/locals
config/malilib.json
config/minihud
config/minihud.json
config/modmenu.json
config/necronomicon.json5
config/rabbit_behavior_fix.json5
config/sodium-extra.properties
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/tellme
config/terrablender.toml
config/balm-*
