/*
!.
!config
!config/**
!defaultconfig/
!kubejs
!kubejs/**
!patchouli_books
!index.toml
!pack.toml
!LICENSE
!server-icon.png
!.pakku
!.pakku/**
!CHANGELOG.md
!.github
**/.DS_Store

.pakku/shelf
config/emixx/stack_groups/
config/balm-*
config/better_log4j_config.xml
config/carpet
config/chunky/tasks/
config/citresewn-defaults.json
config/crash_assistant/crash_assistant_localization_overrides/README.md
config/crash_assistant/modlist.json
config/crash_assistant/problematic_mods_config.json
config/cupboard.json
config/data_attributes.json5
config/data_attributes/
config/fabric
config/fancymenu/user_variables.db
config/fzzy_config/search.toml
config/heracles
config/indium-renderer.properties
config/inventoryprofilesnext/**/*
config/iris.properties
config/jei/
config/konkrete/locals
config/leawind_third_person.json
config/malilib.json
config/mcqoy.toml
config/mcqoy.toml
config/minihud
config/minihud.json
config/necronomicon.json5
config/packetfixer.properties
config/paxi/datapacks/*.zip
config/paxi/datapacks/Oceania
config/rabbit_behavior_fix.json5
config/sodium-extra.properties
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/sound_physics_remastered/
config/spark/activity.json
config/spark/tmp/
config/tellme
config/terrablender.toml
config/time-and-wind/system-time-data*
config/transition.json
config/trender.json
config/whitenoise-client.toml
kubejs/assets/minecraft/texts/
resourcepacks/*.zip
shaderpacks/*.zip
