[submodule "config/paxi/resourcepacks/antique_atlas_respacks/assets"]
	path = config/paxi/resourcepacks/antique_atlas_respacks/assets
	url = https://github.com/murphy-slaw/antique-atlas-respacks.git
[submodule "kubejs/server_scripts/spawn_control"]
	path = kubejs/server_scripts_disabled/spawn_control
	url = https://github.com/liopyu/spawn_control.git
[submodule "config/paxi/datapacks/Oceania"]
	path = config/paxi/datapacks/Oceania
	url = https://github.com/murphy-slaw/Oceania.git
[submodule "config/paxi/datapacks/spectral_seas"]
	path = config/paxi/datapacks/spectral_seas
	url = https://github.com/murphy-slaw/spectral_seas_data.git
