[submodule "config/paxi/resourcepacks/antique_atlas_respacks/assets"]
	path = config/paxi/resourcepacks/antique_atlas_respacks/assets
	url = https://github.com/murphy-slaw/antique-atlas-respacks.git
[submodule "kubejs/server_scripts/spawn_control"]
	path = kubejs/server_scripts/spawn_control
	url = https://github.com/liopyu/spawn_control.git
